/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../fonts/barlow-v5-latin-700.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-700.woff') format('woff');
}




@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: 
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}










* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    /* font-style: normal;
    font-weight: 600; */
    
    
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{
    vertical-align: middle;
}

.container{
    width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.container__inner{
    margin-top: 50px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between ;
}

.site__logo:active{
    background: #333D4B;
}



.nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}


.nav__item{
    padding-left: 0;
}




.nav__link{
    text-decoration: none;
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    margin-left: 33px;
    
    
}

.nav__link:active{
    background: #FFFFFF;
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 2px #000000;
}

.hero{
    
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 168px;
    background-image: url(../images/Bitmap.png);
}





.hero__inner__title{
    
    
    padding-top: 137px;
    width: 200px;
    // height: 48px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    
    
    
    
}


.hero__inner__text{
    width: 445px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding-bottom: 137px;
}















.our__inner__box{
    display: flex;
    margin-left: 40px;
    margin-bottom: 158px;
}

.our__inner__left{
    width: 485px;
}

.our__inner__left+.our__inner___right{
    margin-left: 125px;
}

.our__inner___right{
    width: 540px;
    display: flex;
    flex-direction: column;
}


.our__inner__right__title{
    
    width: 367px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    padding-top: 100px;
    
}




.our__inner__right__text{
    width: 540px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    
}

// section started     
.quality__inner{
    border-radius: 1px;
    background-image: url(../images/quality.bg.png);
    display: flex;
    margin-bottom: 170px;
}




.quality__inner__left{
    position: relative;
    z-index: 2;
    
    top: -100px;
    
}



.quality__inner__box + .quality__inner__left{
    margin-left: 100px;
    
}
.quality__inner__title{
    width: 617px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding-top: 100px;
    padding-left: 85px;
}



.quality__inner__text{
    width: 619px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    
    padding-left: 85px;
}




.map__inner{
    width: 1045px;
    margin: 0 auto;
    margin-bottom: 167px;
}

.map__inner__list{
    display: flex;
    justify-content: space-between;
}


.map__inner__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 100px;
}


.map__list{
    padding-left: 0%;
    margin-top: 24px;
}

.map__inner__box__title{
    margin-top: 46px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    
}

.map__list__item{
   
    width: 285px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
   color: #333D4B;
    
}



.footer{
    width: 1280px;
    
    background-color: #2C343E;
    /* margin-top: 1100px; */
    margin-right: auto;
    margin-left: auto;
}


.footer__inner{
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}




.footer__link{
    width: 203px;
    height: 24px;
    margin-right: 103px;
}




.nav__bar__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0 ;
    padding-right: 370px;
    margin-top: 53px;
    margin-bottom: 51px;  
    
}



.nav__bar__list__item__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-left: 32px;
    
}

.nav__bar__list__item__link:active{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #FEFCF7;
    
}


.footer__inner__socials__link{
    
    width: 34px;
    height: 34px;
    margin-left: 24px;
    
    
    
}

.footer__inner__socials__link:active{
    background: #FDD6BA;
}